body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 680px) {
  html {
    font-size: 12px;
  }
}

table {
  color: #565656;
  table-layout: fixed;
  margin: auto;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  text-align: end;
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0;
  background: #F9F9F9;
}

.tr-headers > th {
  text-align: center;
}

th:not(.table-main-head) {
  font-weight: normal;
}

th, td {
  padding: .625em 1em;
  border: 1px solid #fff;
  text-align: left;
}

.current-day {
  background-color: #EEFAFF;
}

.percentage-of-deviation.positive {
  color: #008000;
}

.percentage-of-deviation.negative {
  color: #ff0000;
}

.revenue-chart,
.revenue-chart > td,
.highcharts-container,
.highcharts-container > svg {
  width: 100% !important;
}

.revenue-chart {
  /*display: none;*/
  background-color: #fff;
}

/*.revenue-chart.visible {*/
/*  display: table-row;*/
/*}*/

